userdetails.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT details (user)+>
<!ATTLIST details
  xmlns CDATA #FIXED ''>

<!ELEMENT user (name,phone,location,email)>
<!ATTLIST user
  xmlns CDATA #FIXED ''
  uid CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  xmlns CDATA #FIXED ''>

<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone
  xmlns CDATA #FIXED ''>

<!ELEMENT location (#PCDATA)>
<!ATTLIST location
  xmlns CDATA #FIXED ''>

<!ELEMENT email (#PCDATA)>
<!ATTLIST email
  xmlns CDATA #FIXED ''>